.iconsContainer {
  padding: 2px 25px;
  background: rgb(0, 0, 0, 0.3);
  max-width: 90%;
}
.cardSection {
  background: linear-gradient(
    135deg,
    rgba(102, 126, 234, 0.7) 0%,
    rgba(118, 75, 162, 0.7) 50%,
    rgba(231, 123, 125, 0.7) 100%
  );

  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 2px 0 rgba(31, 38, 135, 0.5),
    inset 0 0 0 1px rgba(255, 255, 255, 0.1);

  transition: all 0.3s ease;
}

.cardSection:hover {
  transform: scale(1.2);
  z-index: 5;
  box-shadow: 8px 8px 10px rgba(31, 38, 135, 0.5),
    0 8px 2px 0 rgba(31, 38, 135, 0.5), -8px 8px 10px rgba(31, 38, 135, 0.5);
}
.icon {
  position: relative;
  display: inline-block;
  padding: 5px;
}

.icon::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  height: 2px;
  width: 60%;
  background-color: black;
  transition: transform 0.3s ease;
}

.icon:hover::after {
  transform: translateX(-50%) scaleX(1.1);
  background-color: black;
}
.icon:hover {
  color: black;
}
